.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    max-width: 880px;
    height: 100vh;
}

.pokemonsfilters {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 12px 0;
}

.layout {
    display: flex;
}

.layout img {
    margin-right: 12px;
}

/* Grid layout */
.grid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
}

.pokemonItem {
    padding: 10px;
    background-color: #ccc;
}

.pokemonImage {
    width: 240px;
    height: 240px;
}

.pokemonDescription {
    display: flex;
    justify-content: space-between;
}

.pokemonDescription button {
    cursor: pointer;
}

/* List layout */
.list {
    display: block;
    width: 100%;
}

.list .pokemonItem {
    margin-bottom: 4px;
}

.list .pokemonItem a {
    display: flex;
    justify-content: space-between;
}

.list .pokemonImage {
    width: 80px;
    height: 80px;
}

.list .pokemonDescription {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
