.tab {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #999;
}

.tab button {
    flex-grow: 1;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #aaa;
}

.active {
    background-color: #73c1a2;
}
