.pokemonDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.pokemonContent {
  padding: 10px 10px;
  background-color: #ccc;
  text-align: center;
}

.pokemonContent .pokemonImage {
  width: 400px;
  height: 400px;
}

.information {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description img {
  margin-left: 10px;
}

.power {
  margin: 1rem 0;
  align-self: flex-end;
}

.properties {
  display: flex;
  justify-content: space-evenly;
}

.properties > div {
  flex-grow: 1;
  padding: 1rem;
  border: 1px solid;
  text-align: center;
}
